.Container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* height: 50vh; */
    /* max-height: 70vh; */
    background-color: var(--PrimaryColor);
}

.ImageContainer img {
    height: 285px;
    width: 420px;
}
.ImageContainer{
    display: flex;
    flex-direction: row;
justify-content: space-evenly;
width:100%;
margin-top: 3vh;
}
.Container p {

    font-size: larger;
    margin-top: 2vh;
    width: 60%;
    text-align: center;

}
.ContentContainer{
    height: 100%;
    position:relative;
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
border:solid black 2px;
box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow),
inset -2px 0px 11px 6px #2c1748;
border-radius: 1.8rem 0rem 0rem 1.8rem;
animation: glow linear 4.5s infinite;
-webkit-animation: glow linear 4.5s infinite; /* Safari and Chrome */
-moz-animation: glow linear 4.5s infinite; /* Firefox */
-o-animation: glow linear 4.5s infinite; /* Opera */
-ms-animation: glow linear 4.5s infinite; /* Microsoft Edge */
}
@keyframes glow {
    0% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }

    50% {
        box-shadow: 0px 10px 130px 20px #4b4b7a, inset -2px 0px 11px 6px #1a0d2c;
    }

    100% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }
}

@-webkit-keyframes glow {
    0% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }

    50% {
        box-shadow: 0px 10px 130px 20px #4b4b7a, inset -2px 0px 11px 6px #1a0d2c;
    }

    100% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }
}
@-moz-keyframes glow {
    0% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }

    50% {
        box-shadow: 0px 10px 130px 20px #4b4b7a, inset -2px 0px 11px 6px #1a0d2c;
    }

    100% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }
}
@-o-keyframes glow {
    0% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }

    50% {
        box-shadow: 0px 10px 130px 20px #4b4b7a, inset -2px 0px 11px 6px #1a0d2c;
    }

    100% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }
}

/* @-ms-keyframes glow { OLD VERSION KEEP JUST INCASE OF REGRET
    0% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }

    50% {
        box-shadow: 0px 10px 130px 20px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }

    100% {
        box-shadow: 0px 10px 130px 10px var(--OuterBoxShadow), inset -2px 0px 11px 6px #2c1748;
    }
} */
.InnerContentContainer{
    display: flex;
  /* margin-top: 60px;
    height: 100%;*/
    width: 100%;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center;
    background: none;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.DummyTerminalContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start !important;
    right: 0;
    border-left: black 1px solid;
    height: 100%;
    width: 35.5px !important;
    flex-grow: 0;
    background: var(--PrimaryColor);
    flex-shrink: 0;
    box-shadow: -2px 0px 4px 0px black;
    overflow: hidden;
}
.DummyTerminalContainer p {
    margin:0;
    margin-left: 14px;
    color: var(--CodeColor);
    text-align: right;
    justify-content: right;
    
}
.DummyTerminalContainer p::before{
    content:"";
}
.DummyTerminalContainer p::after{
    content:"";
}