/*footer {
display:flex;
    background-color: var(--SecondaryColor);
    align-items: center;
    justify-content: center;
}*/
.footerSticky {
    width: 100%;
    position: fixed;
    height: 10vh;
    bottom: 0;
    z-index:2;
    border-top: 4px solid var(--TetrinaryColor);
    left: 0;
    display: flex;
    background-color: var(--SecondaryColor);
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s ease-out,transform 0.5s ease-in;

}
.NonStickyFooter {

        width: 100%;
        position: fixed;
        height:10vh;
        bottom: 0vh;
        left: 0;
        border-top: 4px solid var(--TetrinaryColor);
        display: flex;
        background-color: var(--SecondaryColor);
        align-items: center;
        justify-content: center;
        transform: translateY(100%);
        transition: bottom 0.3s ease-out, transform 0.5s ease-in;
}
.RealFooter{
    width: 100%;
    z-index: 3;
    height:10vh;
    bottom: 0vh;
    left: 0;
    display: flex;
    border-top: 4px solid var(--TetrinaryColor);
    background-color: var(--SecondaryColor);
    align-items: center;
    justify-content: center;
}

