/* section {
    position: relative;
    height: 80vh;
    padding-top: 6vh;
    margin-bottom: 3vh;
    width: 90%;
    background-color: #101015;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} */
section {
    position: relative;
    /* height: 80vh; */
    padding-top: 11vh;
    padding-bottom: 20vh;
    margin-bottom: 7vh;
    width: 90%;
    /* background-color: #101015; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
section:nth-child(even){
    align-self: end;
    margin-right: 1.52px;

}
/* section::before, section::after {
    content: "";
    position: absolute;
    left: 25%; 
    bottom: 0;
    width: 50%; 
    height: 4px; /* Height of the "thickest" part of the line 
    background: radial-gradient(ellipse at center, red 50%, transparent 50%);
}
*/
.EndOfPageSVG {
    width: 404px;
    height: 6px;
}

.EndOfPageMarker {
    fill: var(--TetrinaryColor);
    stroke:var(--CodeColor);
    stroke-width:0.5;
}
section p {
font-size: larger;

}
section div{
    /*background-color: var(--QuinternaryColor);*/
}
section div div h3 {
    background: var(--QuinternaryColor);
    margin: 0;
    width: fit-content;
    padding: 10px;
    border-top: solid black 2px;
    border-right:solid black 2px;
    z-index: 1;
    border-radius: 0 0.5rem 0 0;
    /* border-bottom: solid black; */
    /* border-left: none; */
}
section:nth-child(even) div div h3 {
    border-left:solid black 2px;
    border-right:none;
    border-radius: 1rem 0 0 0 !important;
}
section div div:first-child {
    display:flex;
    align-self: start;
    background: var(--PrimaryColor);
    width: 100%;   
}
section:nth-child(even) div div{
    justify-content: flex-end;

}